<div class="container">

    <h1>Hola mundo</h1>

    <h2> {{title}}</h2>

    <h3>Tareas:</h3>
    <ul>
    <li *ngFor="let task of tasks(); index as i">
        {{ i + 1 }}. {{ task }}
    </li>
    </ul>

    <hr>

    <h2>{{ 'Signals' }}</h2>
    <p>Hola tu eres {{ inputCtrl.value }}</p>
    <p *ngIf="inputCtrl.value == 'Fabian'; else miBloque">
        Ese soy yo
    </p>

    <ng-template #miBloque>
        <p>
            A no ese no soy yo
        </p>
    </ng-template>




    <input [formControl]="inputCtrl" />
    <br>
    <button (click)="clickHandler()" class="border rounded p-2"> Click me </button>

</div>