<div class="container">
    <h1 style="text-transform: capitalize;">{{ title }}</h1>
    <hr>
    <h3>Tareas:</h3>
    <ul style="list-style: none;">
        @for (task of tasks(); track task; let i = $index){
            <li>
                {{ i + 1 }}. {{ task }}
            </li>
        } @empty {
            <li>No hay mas tareas!</li>
        }
    </ul>

    <hr>

    <h2>{{ 'Signals' }}</h2>
    <p>Hola tu eres {{ inputCtrl.value }}</p>

    @if (inputCtrl.value == 'Fabian') {
        <p>
            Ese soy yo
        </p>
    } @else {
        <p>
            A no ese no soy yo
        </p>
    }

    <input class="form-control" [formControl]="inputCtrl" />
    <br>
    <button (click)="clickHandler()" class="border rounded p-2"> Click me </button>

</div>