<section class="todoapp">
    <header class="header">
      <div class="container">
        <h1>My Day</h1>
        <p>All my tasks in one place</p>
        <input
          class="new-todo"
          placeholder="Type new todo"
          autofocus
          type="text"
          (keydown.enter)="changeHandler()"
          [formControl]="taskCtrl"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <section class="main">
        <ul class="todo-list">
          @for (task of tasksByFilter(); track task; let i = $index) {
            <li (dblclick)="handleDblClick(task)" [class.completed]="task.completed" [class.editing]="task.editing">
            <div class="view">
              <input class="toggle" type="checkbox" (click)="completeTask(i)" [checked]="task.completed" />
              <label>{{ task.title }}</label>
              <button class="destroy" (click)="deleteTask(i)"></button>
            </div>
            <input type="text" class="edit" value="{{task.title}}" (keydown.enter)="updateTask(i, $event)" />
          </li>
}
        </ul>
      </section>
      <footer class="footer">
        <span class="todo-count">
            @switch (tasksByFilter().length) {
                @case (0) {
                <p>
                    No items left
                </p>
                }

            @case (1) {
                <p>
                <strong>1</strong> item left
                </p>
            }

            @default {
            <p>
                <strong>{{ tasksByFilter().length }}</strong> items left
            </p>
            }
        }
        </span>
        <ul class="filters">
          <li>
            <a [class.selected]="filter() == 'all'" (click)="updateFilter('all')">All</a>
          </li>
          <li>
            <a [class.selected]="filter() == 'pending'" (click)="updateFilter('pending')">Pending</a>
          </li>
          <li>
            <a [class.selected]="filter() == 'completed'" (click)="updateFilter('completed')">Completed</a>
          </li>
        </ul>
        <button class="clear-completed" (click)="clearCompletedTasks()">Clear completed</button>
      </footer>
    </div>
</section>
